/* ======= Google font (Roboto) ======= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");

/* ======= Basic style ======= */
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  overflow-x: hidden !important;
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  background-color: #fff;
  border: 2px solid;
  height: 65px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  color: #5c727d;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
  padding-right: 40px;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.container {
  max-width: 1149px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

/* ======= Job Openeings Stying ======= */
.wrapper {
  padding: 100px 15px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.sorting-wrap {
  margin-bottom: 50px;
}
.sorting-wrap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
}
.sorting-wrap > ul > li {
  list-style: none;
  margin-top: 0;
  line-height: 50px;
  margin-right: 30px;
}
.sorting-wrap > ul > li:last-child {
  margin-right: 0;
}

.grid-list-nav a {
  font-size: 30px;
  margin-right: 20px;
}
.grid-list-nav a:last-child {
  margin-right: 0px;
  color: #5c727d;
}
.grid-list-nav .active {
  color: #ff5a3c;
}
.sorting-wrap .short-by .nice-select {
  border-radius: 0;
  border: 2px solid #ededed;
  height: 50px;
  line-height: 46px;
  min-width: 190px;
  padding-left: 18px;
  padding-right: 30px;
  background: #fff;
}
.showing-profile-number span {
  font-weight: 500;
  font-size: 16px;
}
.search-bar form {
  position: relative;
}
.search-bar input[type="text"] {
  margin-bottom: 0;
  padding-right: 65px;
  padding-left: 20px;
  height: 60px;
  background-color: rgb(242, 246, 247);
  font-weight: 600;
  font-size: 14px;
  border-color: #ccc;
}
.search-bar button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 20px;
  color: #fff;
  border: 1px solid;
  background-color: #ff5a3c;
  border-color: #ff5a3c;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.search-bar button {
  color: #fff;
}
.card {
  position: relative;
  margin-bottom: 50px;
  border: 1px solid;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  border-color: #f1f8ff;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.card .product-img {
  position: relative;
  overflow: hidden;
}

.card .product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card .product-img a {
  display: block;
}

.card .product-info-bottom {
  border-top: 1px solid;
  border-top-color: currentcolor;
  border-color: #e5eaee;
  padding: 20px 30px 30px;
  display: flex;
}
.card .name {
  font-size: 18px;
  font-weight: 600;
  color: #ff5a3c;
  line-height: 26px;
  min-height: 50px;
}

.card .office {
  font-size: 16px;
  font-weight: 400;
  color: #5c727d;
}

.card .social-links {
  margin-left: auto;
}

.card .profile-img ul li i {
  color: #ff5a3c;
  padding-left: 0;
}
.social-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.card .social-links ul li {
  margin-right: 8px;
  height: 36px;
  width: 36px;
  line-height: 42px;
  border-right: 0;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .social-links ul li:last-child {
  margin-right: 0;
}

.card .social-links ul li i {
  color: #5c727d;
}

.card .social-links ul li:hover i {
  color: #ff5a3c;
}

.card .social-links ul li a {
  background-color: transparent;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #ff5a3c;
  color: white;
  border: 1px solid #ff5a3c;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 992px) {
  .wrapper {
    padding: 50px 24px;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
  }
  .sorting-wrap > ul > li {
    margin-right: 0;
  }
}
